<a href="https://colab.research.google.com/github/adityag155/Python-Programs/blob/main/python_prog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
val1 = 5
val2 = 5

res = val1 + val2
print(res)

10

In [2]:
val1 = 4
val2 = 5

res1 = val1 - val2
res2 = val1 * val2
print(res1)
print(res2)

-1
20

In [3]:
num1 = input('Enter first number')
num2 = input('Enter second number')

sum = int(num1) + int(num2)
print('sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number10
Enter second number20
sum of 10 and 20 is 30

In [4]:
#Python program on sub
num1 = input('Enter first number')
num2 = input('Enter Second number')

sub = int(num1) - int(num2)
print('substraction of {0} and {1} is {2}'.format(num1, num2, sub))

Enter first number40
Enter Second number20
substraction of 40 and 20 is 20

In [5]:
#python program on float addition
num1 = input('Enter First number')
num2 = input('Enter Second number')

sum = float(num1) + float(num2)
print('sum of {0} and {1} is {2}'. format(num1, num2, sum))

Enter First number12.40
Enter Second number24.8
sum of 12.40 and 24.8 is 37.2

In [8]:
age=23
name="Raj"
roll_no=12

print(age)
print(name)
print(roll_no)

23
Raj
12

In [9]:
print(id(age))

11256768

In [10]:
#Take input from user

name = input("Enter your name")
age = input("Enter your age")

print(name)
print(age)

Enter your nameRaj
Enter your age22
Raj
22

In [13]:
#Data types

age = 22
name = "Raj"
price = 50.80

print(type(age))
print(type(name))
print(type(price))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
#Take input from user

rollno = input("Enter your rollno")
print("I know your rollno", rollno)

Enter your rollno12
I know your rollno 12

In [25]:
#Convert Data type
x = 10
print(type(x))

x=str(x)
print(type(x))

<class 'int'>
<class 'str'>

In [26]:
#Different method for take input from user
first = int(input("Enter first no"))
second = int(input("Enter second no"))

result = first + second
print("result=", result)

Enter first no10
Enter second no20
result= 30

In [32]:
#Take input from user
num1 = input("Enter first no")
num2 = input("Enter second no")

sum= int(num1) + int(num2)
print('sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first no20
Enter second no20
sum of 20 and 20 is 40

In [33]:
#Diff method of take i/p
first = int(input("Enter first no"))
second = int(input("Enter second no"))

result = first + second
print("result=",result)

Enter first no10
Enter second no10
result= 20