<a href="https://colab.research.google.com/github/adityag155/Python-Programs/blob/main/Untitled27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Liste literal:

list=['John',678,20.4,'Peter']

list1=[456,'Andrew']

print(list)

print(list1)

['John', 678, 20.4, 'Peter']
[456, 'Andrew']