<a href="https://colab.research.google.com/github/adityag155/Python-Programs/blob/main/Untitled36.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#nonlocal keyword
def outside_function():
    a = 20
    def inside_function():
        nonlocal a
        a = 30
        print("Inner function:",a)
    inside_function()
    print("Outer function:",a)
outside_function()

Inner function: 30
Outer function: 30

In [2]:
#lambda keyword
a= lambda x:x**2
for i in range(1,6):
    print(a(i))

1
4
9
16
25

In [3]:
#yield keyword
def fun_Generator():
    yield 1
    yield 2
    yield 3
for value in fun_Generator():
    print(value)

1
2
3

In [4]:
#None keyword
def return_none():
    a=10
    b=20
    c=a+b
x=return_none()
print(x)

None

In [5]:
#Multi-line Literals
#1]Adding black slash at the end of each line
text1='hello\
user'
print(text1)

hellouser

In [6]:
#Numeric Literals
x = 0b10100 #Binary Literals  
y = 100 #Decimal Literal   
z = 0o215 #Octal Literal  
u = 0x12d #Hexadecimal Literal  
  
#Float Literal  
float_1 = 100.5   
float_2 = 1.5e2  
  
#Complex Literal   
a = 5+3.14j  
  
print(x, y, z, u)  
print(float_1, float_2)  
print(a, a.imag, a.real)

20 100 141 301
100.5 150.0
(5+3.14j) 3.14 5.0

In [9]:
#Boolean literals
#A Boolean literal can have any of the two values: True or False

#Boolean literals
x = (1 == True)  
y = (2 == False)  
z = (3 == True)  
a = True + 10  
b = False + 10  
  
print("x is", x)  
print("y is", y)  
print("z is", z)  
print("a:", a)  
print("b:", b)

x is True
y is False
z is False
a: 11
b: 10

In [10]:
#Literal Collection

#Python provides the four types of literal collection such as List literals, Tuple literals, Dict literals, and Set literals.
#Liste literal:

#List contains items of different data types. Lists are mutable i.e., modifiable.
#The values stored in List are separated by comma(,) and enclosed within square brackets([]). We can store different types of data in a List.

#Literal Collection

#Liste literal:

list=['John',678,20.4,'Peter']

list1=[456,'Andrew']

print(list)

print(list1)

['John', 678, 20.4, 'Peter']
[456, 'Andrew']

In [12]:
#Dictionary Literal

#Python dictionary stores the data in the key-value pair.
#It is enclosed by curly-braces {} and each pair is separated by the commas(,).

#Dictionary Literal
dict={'name':'Pater','Age':21,'Roll_no':240}

print(dict)

{'name': 'Pater', 'Age': 21, 'Roll_no': 240}